{% extends 'base.html.twig' %}

{% block body %}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-1">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg p-5">
                <div class="p-0">
                    <div class="text-center">
                        <h4 class="text-dark-900 mb-4 font-italic font-weight-bolder"><u>Ajouter un nouveau compte
                                </u></h4>
                    </div>
                </div>
{#                {{ form_start(formUser) }}#}
                <div class="row">
{#                    <div class="col-md-6">{{ form_row(formUser.username, {'label': 'Identifiant'}, {'attr': {'placeholder': 'Identifiant' }}) }}</div>#}
{#                    <div class="col-md-6">{{ form_row(formUser.email, {'label': 'E-mail'}) }}</div>#}
                </div>
                <div class="row">
{#                    <div class="col-md-6">{{ form_row(formUser.lastname, {'label': 'Nom'}, {'attr': { 'placeholder': 'Nom' }}) }}</div>#}
{#                    <div class="col-md-6">{{ form_row(formUser.firstname, {'label': 'Prénom'}, {'attr': { 'placeholder': 'Prénom' }}) }}</div>#}
                </div>

                <div class="row">
{#                    <div class="col-md">{{ form_row(formUser.birthdate, {'label': 'Téléphone'}, {'attr': { 'placeholder': 'Mobile' }}) }}</div>#}
                </div>
{#                {{ form_rest(formUser) }}#}
                <button type="submit"
                        class="btn btn-success
{#{% if editMode %}btn btn-warning{% endif %}#}
">
{#                    {% if editMode %}Mettre à jour#}
{#                    {% else %}#}
                        Ajouter le compte
{#                    {% endif %}#}
                </button>
                <a type="button"
                   class="btn btn-info" id="cancelNewUser" href="{{ path('home') }}" >Retour</a>
{#                {{ form_end(formUser) }}#}
            </div>
        </div>
    </div>
</div>
{% endblock %}