{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb mt-3">
        <li><a href="/">Accueil</a>&nbsp;>&nbsp;</li>
        <li class="active1">Contact</li>
    </ol>
    <!--Section: Contact v.2-->
    <div class="container mb-4">
        <section class="mb-4">
                <h2 class="tagline">{{ title }}</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5">Des questions? N'hésitez plus!</p>
            <hr>
            <div class="row">
                <!--Grid column-->
                <div class="col-md mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="{{ path('contact_us') }}" method="POST">
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="name" class="">Votre nom</label>
                                    <input type="text" id="name" name="name" class="form-control">

                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="email" class="">Votre email</label>
                                    <input type="text" id="email" name="email" class="form-control">

                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                        <div class="row my-4">
                            <div class="col-md-8">
                                <div class="md-form d-flex justify-content-md-between">
                                    <label for="subject" class="">Sujet</label>
                                    <select name="subject" class="selectpicker" id="selectSubject">
                                        <option value="" disabled selected>Selectionnez</option>
                                        <option value="1">Demande de Contact</option>
                                        <option value="2">Demande de Détails</option>
                                        <option value="3">Demande de Renseignements</option>
                                        <option value="4">Autres Demandes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row my-4">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <label for="message">Votre message</label>
                                    <textarea type="text" id="message" name="message" rows="5"
                                              class="form-control md-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <div class="text-center text-md-left">
                            <button class="btn btn-primary" type="submit">Envoyer</button>
                        </div>
                    </form>
                    <div class="status"></div>
                </div>
                <!--Grid column-->
            </div>
        </section>
        {#            <hr>#}
    </div>
    </div>
    <div class="bg-creamy" id="carte" style="margin-bottom: -60px;">
        <div class="container">
            <section class="container my-5 d-md-flex align-items-center">
                <div class="col-md-8 p-0">
{#                    <img src="{{ asset('images/carte.png') }}" class="carte p-0" alt="carte_localisation" style="border: 1px solid orange;">#}
                </div>
                <!--Grid column-->
                <div class="col-md-4 mb-5 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <img id="contact" class="my-2" width="50"
                                    src="{{ asset('images/symfony2.png') }}"
                                    alt="symfony"><br>Une utilisatrice conquise<br>Jamila DJEDOUI
                        </li>
                        <li><i class="fa fa-phone mt-1 fa-2x"></i>
                            0613466394
                        </li>
                        <li><i class="fa fa-envelope mt-1 fa-2x"></i>
                            dj0779@hotmail.fr
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </section>
        </div>
    </div>
{% endblock %}
