<div id="flashs" class="row d-flex justify-content-md-center">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger d-flex">
            <p>{{ message }}</p>
            <button type="button" class="close" aria-label="Close">
                {#                                <span aria-hidden="true">&times;</span>#}
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success d-flex">
            <p>{{ message }}</p>
            <button type="button" class="close" aria-label="Close">
                {#                                <span aria-hidden="true">&times;</span>#}
            </button>
        </div>
    {% endfor %}
</div>