{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb mt-3">
        <li class="active1">Accueil&nbsp;>&nbsp;</li>
    </ol>
    {{ include('default/flash.html.twig') }}
    <div class="text-center">
        <a class="btn btn-info mt-3" href="{{ path('personne_index') }}">Liste des Personnes</a>
        <a class="btn btn-success mt-3" href="{{ path('personne_new') }}">Ajouter une personne</a>
    </div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Application web (environ 1h10 minutes)</h2>
                <p class="lead">1) Écrire une classe Personne ayant comme attributs : un nom, prénom, date de naissance.<br>2) Créer une base de données correspondante</p>
                <p class="mb-0">3a) Créer les endpoints qui :</p>
                <ul>
                    <li>sauvegarde une nouvelle Personne.</li>
                    <li>renvoie toutes les Personnes enregistrées par ordre alphabétique, ajouter également leur âge actuel.</li>
                </ul>
                <p class="mb-0">4a) En option, générez une API DOC.</p>
                <p class="mb-0">4b) Ajouter à cette page un bouton “visualiser”, qui affiche la liste des personnes en bdd, triées alphabétiquement. Afficher également leur âge actuel.</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" id="imageHomePage">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>

</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Version formulaire</h2>
                <p class="lead">3b) Créer une page avec un formulaire, contenant :</p>
                 <ul>
                     <li>a.Un champ “nom”</li>
                     <li>b.Un champ “prénom”</li>
                     <li>c.Un champ “date de naissance”</li>
                     <li>d.Un bouton “valider”, qui remplit la session avec les données du formulaire
                         attention seule les personnes de moins de 150 ans peuvent être enregistrées sinon renvoyer une erreur</li>
                 </ul>
        </div>
        </div>
    </div>
</section>
{% endblock %}
