{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb mt-3">
        <li><a href="/">Accueil</a>&nbsp;>&nbsp;</li>
        <li class="active1">Default&nbsp;&nbsp;</li>
    </ol>

{% endblock %}
