<form method="post" action="{{ path('personne_delete', {'id': personne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
