{% extends 'base.html.twig' %}

{% block title %}Edit Personne{% endblock %}

{% block body %}
    <h1 class="mt-5 font-italic">Edit Personne</h1>

    {{ include('personne/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="actions d-flex mb-5">
        <a class="btn btn-info mr-3" href="{{ path('personne_index') }}">Back to list</a>

        {{ include('personne/_delete_form.html.twig') }}
    </div>
{% endblock %}
