{% extends 'base.html.twig' %}

{#{% block title %}Personne index{% endblock %}#}

{% block body %}
    <h1 class="mt-5 font-italic">Personne index</h1>

    {{ include('default/flash.html.twig') }}

    <table id="table_personne" class="my-5 table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>DateNaissance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr class="text-center">
                <td>{{ personne.id }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.dateNaissance ? personne.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td class="d-flex p-1">
                    <a class="btn btn-primary mr-3" href="{{ path('personne_show', {'id': personne.id}) }}">Show</a>
                    <a class="btn btn-warning mr-3" href="{{ path('personne_edit', {'id': personne.id}) }}">Edit</a>
                    {{ include('personne/_delete_form.html.twig') }}</div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info mb-5" href="{{ path('personne_new') }}">Ajouter une personne</a>
    <a class="btn btn-dark mb-5" href="{{ path('home') }}">Accueil</a>
{% endblock %}
