{% extends 'base.html.twig' %}

{% block title %}New Personne{% endblock %}

{% block body %}
    <h1 class="mt-5 font-italic">Create new Personne</h1>

    {{ include('personne/_form.html.twig') }}

    <a class="btn btn-info mb-5" href="{{ path('personne_index') }}">Back to list</a>

{% endblock %}
