{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}

    <h1 class="mt-5 font-italic">Personne</h1>

    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ personne.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ personne.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ personne.prenom }}</td>
        </tr>
        <tr>
            <th>DateNaissance</th>
            <td>{{ personne.dateNaissance ? personne.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="actions d-flex mb-5">
        <a class="btn btn-info mr-3" href="{{ path('personne_index') }}">Back to list</a>

        <a class="btn btn-warning mr-3" href="{{ path('personne_edit', {'id': personne.id}) }}">Edit</a>

        {{ include('personne/_delete_form.html.twig') }}
    </div>

{% endblock %}
